<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!-- You need to rework this to have different content based on logged-in-ness-->

    <meta charset="UTF-8">
    <title>Main page</title>
    <div style="margin:auto;width:50%;">Main page</div>
    <ul style="margin:auto;width:50%;">
        <li><a href="/register">Registration</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/passwordrecovery">Password Recovery</a></li>
        <li><a href="/requestevaluation">Request Evaluation</a></li>
        <!-- To be made invisible if not admin -->
        <li><a href="/evaluationrequests">Evaluation Requests</a></li>
    </ul>
</head>
<body>

</body>
</html>