<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pin</title>
    <div style="margin:auto;width:50%;">Provide pin from email -- Click <a href="/">here</a> to return to the main page!</div>
    <form style="margin:auto;width:50%;" action="#" th:action="@{/submitpin}" method="post">
        <table border="1">
            <tr>
                <td><label>Pin</label></td>
                <td><input type="text" id="pin" name="pin" th:object="${pin}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</head>
<body>

</body>
</html>